*{
    margin: 0%;
}

@media only screen and (min-width: 600px){

    body{
        /* background-color: red; */
    }

}

@media only screen and (min-width: 768px){

    body{
        background-color: rgba(0, 0, 255, 0.308);
    }

    .menu_principal{
        /* background-color: red; */
        height: 10vh;
        /* background-color: #006eff8e; */
        transition: all .5s;
    }

    .sobre h1{
        padding-top: 15vh;
    }

    .imagem_principal{
        width: 100%;
        padding-bottom: 3vh;
    }

    ul{
        list-style: none;
        /* background-color: green; */
        /* color: white; */
        position: absolute;
        top: 4%;
        left: 20%;
    
    }
    
    nav li {
        /*text-transform: uppercase; serve para colocar as letras em maiusculo  */
            /* float: left; */
            margin-left: 10px;
            text-transform: uppercase;
        }


    .equipe{
        /* width: 7vh; */
        height: 260vh;
        text-align: center;
    }

    .equipe h1{
        position: absolute;
        margin: 3% 0 0 45%;
    }

    .equipe p{
        margin-top: 1vh;
        font-size: 1.5em;
    }

    .foto img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .integrante_1{
        /* background-color: red; */
        height: 40vh;
        width: 40vw;
        /* position: absolute; */
        /* margin: 10%; */
        padding: 150px 0 0 100px;
    }

    .integrante_2{
        /* background-color: red; */
        height: 40vh;
        width: 40vw;
        /* position: absolute; */
        /* margin: 10% 0 0 40%; */
        padding: 0px 0 0 400px;
    }    

    .integrante_3{
        /* background-color: red; */
        height: 40vh;
        width: 40vw;
        /* position: absolute; */
        /* margin: 10% 0 0 70%; */
        padding: 0px 0 0 100px;
    }

    .integrante_4{
        /* background-color: red; */
        height: 40vh;
        width: 40vw;
        /* position: absolute; */
        padding: 0px 0 0 400px;
    }

    .integrante_5{
        /* background-color: red; */
        height: 40vh;
        width: 40vw;
        /* position: absolute;  */
        padding: 0px 0 0 100px;
    }

    .integrante_6{
        /* background-color: red; */
        height: 40vh;
        width: 40vw;
        /* position: absolute; */
        padding: 0px 0 0 400px;
    }


    .foto{
        /* background-color: blue; */
        width: 100%;
        height: 75%;
        border-radius: 50%;
    }

    .servicos{
        /* background-color: rgba(255, 0, 0, 0.315); */
        height: 130vh;
        text-align: center;

    }

    .servicos h1{
        /* position: absolute;
        margin: 10% 0 0 45%; */
        padding-top: 50px;
    }

    .texto_direita{
        padding: 5vh 0 0 45vw;
        width: 50vw;
        
    }

    .texto_esquerda{
        width: 50vw;
        padding: 60px 30px;
    }

    .texto_sobre{
        /* background-color: red; */
        /* margin: 3vh 0 0 20%; */
        padding: 2vh 15vw;
        width: 65%;
        height: 20vh;
    }

}


/* @media only screen and (min-width: 992px){

    body{
        background-color: green;
    }

    .imagem_principal{
        width: 150%;
        margin: 0;
    }
    

    .menu_principal{
        height: 10vh;
        transition: all .5s;
    }

    ul{
        list-style: none;
        position: absolute;
        top: 4%;
        left: 40%;
    
    }
    
    nav li {
        margin-left: 10px;
        text-transform: uppercase;
    }
    
    .imagem_principal{
        width: 100%;
        margin: 0;
    }

    .equipe{
        width: 150%;
        height: 260vh;
        
    }

    .equipe h1{
        position: absolute;
        margin: 3% 0 0 45%;
    }

    .equipe p{
        margin-top: 1vh;
        font-size: 1.5em;
    }

    .foto img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .integrante_1{

        height: 40vh;
        width: 25vw;
        position: absolute;
        margin: 10%;
    }

    .integrante_2{

        height: 40vh;
        width: 25vw;
        position: absolute;
        margin: 10% 0 0 40%;
    }    

    .integrante_3{

        height: 40vh;
        width: 25vw;
        position: absolute;
        margin: 10% 0 0 70%;
    }

    .integrante_6{

        height: 40vh;
        width: 25vw;
        position: absolute;
        margin: 40% 0 0 70%;
    }

    .integrante_4{

        height: 40vh;
        width: 25vw;
        position: absolute;
        margin: 40% 0 0 10%;
    }

    .integrante_5{

        height: 40vh;
        width: 25vw;
        position: absolute;
        margin: 40% 0 0 40%;
    }

} */

@media only screen and (min-width: 1200px){

    body{
        background-color: pink;
    }

}


a{
    text-decoration: none;
    color: black;
}


nav li {
    /*text-transform: uppercase; serve para colocar as letras em maiusculo  */
        float: left;
        margin-left: 10px;
        text-transform: uppercase;
    }

.linha{
    background-color: black;
    height: 2px;
}



.equipe{
    background-color: rgba(0, 0, 255, 0.301);
}


#sobre{
    text-align: center;
}