body {
    font-family: 'Noto Sans JP', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

header {
    overflow: auto;
}

.container {
    width: 80%;
    margin: auto;
    height: 1px;
}

.font-logo {
    font-weight: 900;
    font-size: 40px;
    color: #0A3D62;
    float: left;
}

.btn_boasVindas {
    border-radius: 10px;
    background-color: #0A3D62;
    padding: 13.66px;
    font-weight: 700;
    color: white;
    text-transform: none;
    float: right;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    border: none;
    margin-top: 0.8%;
    margin-right: 1.5%;

}

.btn_boasVindas:hover {
    background: #184f75;
    border-radius: 12px;
    text-decoration: none;
}

.imgOpcoes {
    height: 100%;
    width: max-content;
    float: left;
}


/* Daqui pra baixo */

.divOpcoesAn {
    margin-top: 100px;
    margin-bottom: 10px;
    border-radius: 26px;
    height: max-content;
    width: auto;
    line-height: 50px;
    color: #FFFFFF;
    font-family: Noto Sans JP;
    font-size: 23px;
    font-weight: 500;
    padding: 13px;
    background-color: #C4C4C4;
    box-shadow: 14px 16px 4px rgb(10 61 98 / 80%);
    text-decoration: none;
    display: inline-block;
}

/**/
.divOpcoesBtnAN {
    margin-top: 30px;
    height: 50px;
    line-height: 50px;
    border-radius: 26px;
    color: #FFFFFF;
    width: 300px;
    margin: 16px 9px 24px 9px;
    font-size: 23px;
    font-family: Noto Sans JP;
    font-weight: 500;
    padding: 13px;
    background-color: #60A3BC;
    box-shadow: 10px 15px 4px rgba(10, 61, 98, 0.5);
    text-decoration: none;
    cursor: pointer;
}

.divOpcoesBtnAN:hover {
    background: #72B6CF;
    border-radius: 24px;
    text-decoration: none;
}

.divImgAn {
    position: relative;
    top: 60px;
    margin-left: 145px;
    height: 250px;
    width: 350px;
    display: inline-block;
}

.divImgAn h4{
    position: relative;
    font-weight: 550;
    color: black;
    text-align: end;
    font-size: 30px;
    left: 200px;
    font-family: 'Noto Sans JP', sans-serif;
}

.divImgAn img{
    position: relative;
    right: 50px;
    height: 250px;
}

.divFraseAn {
    position: relative;
    text-align: end;
    font-size: 32px;
    right: -70px;
    top: -207px;
    width: max-content;
    display: inline-block;
}


/*Responsividade*/

@media only screen and (max-width:1024px) {

    .divOpcoesAn {
        margin-top: 60px;
        margin-bottom: 10px;
        border-radius: 26px;
        height: max-content;
        width: auto;
        line-height: 50px;
        color: #FFFFFF;
        font-family: Noto Sans JP;
        font-size: 23px;
        font-weight: 500;
        padding: 13px;
        background-color: #C4C4C4;
        box-shadow: 14px 16px 4px rgb(10 61 98 / 80%);
        text-decoration: none;
        display: inline-block;
    }
    
    .divImgAn {
        position: relative;
        top: -350px;
        margin-left: 550px;
        height: 150px;
        width: 350px;
        display: inline-block;
    }

    .divImgAn img{
        position: relative;
        top: 50px;
        height: 200px;
    }
    .divImgAn h4{
        position: relative;
        font-weight: 550;
        color: black;
        text-align: end;
        font-size: 30px;
        left: -100px;
        font-family: 'Noto Sans JP', sans-serif;
    }
}

@media only screen and (max-width:768px) {
    
    .divOpcoesAn {
        margin-top: 60px;
        margin-bottom: 10px;
        border-radius: 26px;
        height: max-content;
        width: auto;
        line-height: 50px;
        color: #FFFFFF;
        font-family: Noto Sans JP;
        font-size: 23px;
        font-weight: 500;
        padding: 13px;
        background-color: #C4C4C4;
        box-shadow: 14px 16px 4px rgb(10 61 98 / 80%);
        text-decoration: none;
        display: inline-block;
    }

    .divOpcoesBtnAN {
        margin-top: 30px;
        height: 50px;
        line-height: 50px;
        border-radius: 26px;
        color: #FFFFFF;
        width: 250px;
        margin: 16px 9px 24px 9px;
        font-size: 23px;
        font-family: Noto Sans JP;
        font-weight: 500;
        padding: 13px;
        background-color: #60A3BC;
        box-shadow: 10px 15px 4px rgba(10, 61, 98, 0.5);
        text-decoration: none;
        cursor: pointer;
    }
    
    .divImgAn {
        position: relative;
        top: -300px;
        margin-left: 450px;
        height: 150px;
        width: 236px;
        display: inline-block;
    }

    .divImgAn img{
        position: relative;
        top: 30px;
        right: 80px;
        height: 170px;
    }
    .divImgAn h4{
        position: relative;
        font-weight: 550;
        color: black;
        text-align: end;
        font-size: 25px;
        bottom: 50px;
        left: -100px;
        font-family: 'Noto Sans JP', sans-serif;
    }

}

@media only screen and (max-width:425px) {

    .container {
        width: 90%;
        margin-top: 3%;
        height: 50px;
    }

    .container h1 {
        font-size: 28px;
        line-height: 40px;
    }

    .divOpcoesAn {
        margin-top: 43px;
        margin-bottom: 10px;
        border-radius: 26px;
        height: max-content;
        width: 88%;
        line-height: 50px;
        color: #FFFFFF;
        font-family: Noto Sans JP;
        font-size: 23px;
        font-weight: 500;
        padding: 13px;
        background-color: #C4C4C4;
        box-shadow: 14px 16px 4px rgb(10 61 98 / 80%);
        text-decoration: none;
        display: inline-block;
    }

    .divOpcoesBtnAN {
        margin-top: 30px;
        height: 50px;
        line-height: 50px;
        border-radius: 26px;
        color: #FFFFFF;
        width: 86%;
        margin: 16px 9px 24px 9px;
        font-size: 23px;
        font-family: Noto Sans JP;
        font-weight: 500;
        padding: 13px;
        background-color: #60A3BC;
        box-shadow: 10px 15px 4px rgba(10, 61, 98, 0.5);
        text-decoration: none;
        cursor: pointer;
    }

    .btn_boasVindas {
        border-radius: 10px;
        color: #FFFFFF;
        font-family: Noto Sans JP;
        font-size: 18px;
        padding: 7px;
        background-color: #0A3D62;
        text-decoration: none;
        text-align: center;
        float: right;

    }

    .divOpcoes:hover {
        background: #72B6CF;
        border-radius: 24px;
        text-decoration: none;
    }


    .divImgAn {
        display: inline-block;
        height: max-content;
        height: 400px;
        width: auto;
        margin-left: 50px;
        display: none;
    }




}

@media only screen and (max-width:375px) {

    .container {
        width: 90%;
        margin-top: 3%;
        height: 50px;
    }

    .container h1 {
        font-size: 24px;
        line-height: 40px;
    }

    .btn_boasVindas {
        border-radius: 10px;
        color: #FFFFFF;
        font-family: Noto Sans JP;
        font-size: 16px;
        padding: 7px;
        background-color: #0A3D62;
        text-decoration: none;
        text-align: center;
        float: right;

    }

    /*Divisão que vai suportar as opções*/
    .divMenuFuncoes {
        height: 360px;
        width: 91%;
        line-height: 50px;
        color: #FFFFFF;
        font-family: Noto Sans JP;
        font-size: 23px;
        font-weight: 500;
        padding: 13px;
        background-color: #C4C4C4;
        box-shadow: 10px 7px 0 0 #0A3D62;
        text-decoration: none;
        display: block;
    }

    .divOpcoes {
        border-radius: 27px;
        height: 45px;
        line-height: 42px;
        color: #FFFFFF;
        width: 87%;
        margin: 10px 9px 24px 9px;
        font-size: 23px;
        font-family: Noto Sans JP;
        font-weight: 600;
        padding: 10px;
        background-color: #60A3BC;
        /* box-shadow: 7px 10px 4px 1px rgb(5 2 2 / 59%); (RGBA + Intensidade do blur, caso necessario) */
        box-shadow: 7px 10px 4px 0px #0a3d6287;
        text-decoration: none;
        cursor: pointer;

    }

    .divOpcoes:hover {
        background: #72B6CF;
        border-radius: 24px;
        text-decoration: none;
    }

    .imgOpcoes {
        height: 100%;
        width: max-content;
        float: left;
    }

    .divOpcoesImg {
        display: inline-block;
        height: max-content;
        height: 400px;
        width: auto;
        margin-left: 50px;
    }

    .divOpcoesContent {
        margin-top: 15px;
        margin-bottom: 10px;
        border-radius: 26px;
        margin-left: 80px;
        height: 100px;
        width: 299px;
        line-height: 50px;
        color: #FFFFFF;
        font-family: Noto Sans JP;
        font-size: 23px;
        font-weight: 500;
        padding: 13px;
        display: inline-block;
        text-decoration: none;
        position: relative;
        left: 237px;
        bottom: 264px;
        display: none;
    }




}

@media only screen and (max-width:320px) {

    .container {
        width: 90%;
        margin-top: 3%;
        height: 50px;
    }

    .container h1 {
        font-size: 22px;
        line-height: 40px;
    }

    .btn_boasVindas {
        border-radius: 10px;
        color: #FFFFFF;
        font-family: Noto Sans JP;
        font-size: 14px;
        padding: 5px;
        background-color: #0A3D62;
        text-decoration: none;
        text-align: center;
        float: right;

    }

    /*Divisão que vai suportar as opções*/
    .divMenuFuncoes {
        height: 340px;
        width: 88%;
        line-height: 50px;
        color: #FFFFFF;
        font-family: Noto Sans JP;
        font-size: 23px;
        font-weight: 500;
        padding: 13px;
        background-color: #C4C4C4;
        box-shadow: 10px 7px 0 0 #0A3D62;
        text-decoration: none;
        display: block;
    }

    .divOpcoes {
        border-radius: 27px;
        height: 45px;
        line-height: 42px;
        color: #FFFFFF;
        width: 87%;
        margin: 10px 9px 24px 9px;
        font-size: 23px;
        font-family: Noto Sans JP;
        font-weight: 600;
        padding: 7px;
        background-color: #60A3BC;
        /* box-shadow: 7px 10px 4px 1px rgb(5 2 2 / 59%); (RGBA + Intensidade do blur, caso necessario) */
        box-shadow: 7px 10px 4px 0px #0a3d6287;
        text-decoration: none;
        cursor: pointer;

    }

    .divOpcoes:hover {
        background: #72B6CF;
        border-radius: 24px;
        text-decoration: none;
    }

    .imgOpcoes {
        height: 100%;
        width: max-content;
        float: left;
    }

    .divOpcoesImg {
        display: inline-block;
        height: max-content;
        height: 400px;
        width: auto;
        margin-left: 50px;
    }

    .divOpcoesContent {
        margin-top: 15px;
        margin-bottom: 10px;
        border-radius: 26px;
        margin-left: 80px;
        height: 100px;
        width: 299px;
        line-height: 50px;
        color: #FFFFFF;
        font-family: Noto Sans JP;
        font-size: 23px;
        font-weight: 500;
        padding: 13px;
        display: inline-block;
        text-decoration: none;
        position: relative;
        left: 237px;
        bottom: 264px;
        display: none;
    }


}