*{
    margin: 0%;
}

nav{
    height: 10vh;
    transition: all .5s;
    
}

ul{
    padding: 20px;
    list-style: none;
    float: right;

}

nav li {
    margin-left: 15px;
    margin-right: 10px;
    text-transform: uppercase;
    float: left;

}

nav img{
    width: 5vw;
    height: 100%;
    margin: 0%;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: blue;
}

.login{
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.521);
    padding: 0.5vw;
    color: white;
}

.linha{
    background-color: black;
    height: 2px;
}

.imagem_principal{
    width: 100%;
}

#sobre{
    height: 50vh;
    text-align: center;
}

.sobre_nos h1{
    padding: 20px;
}

.sobre_nos p{
    width: 50%;
    padding-left: 25%;
    text-align: justify;
}

.equipe{
    background-color: rgba(0, 0, 255, 0.397);
    height: 150vh;
}

.equipe h1{
    text-align: center;
    padding-top: 20px;
}

.integrante{
    padding: 10vh 0 0 5vh;
    width: 25vw;
    height: 55vh;
    text-align: center;
    /* background-color: red; */
    margin-left: 4vw;
    float: left;
}

.integrante_2{
    padding: 10vh 0 0 5vh;
    width: 25vw;
    height: 55vh;
    text-align: center;
    /* background-color: red; */
    margin-left: 4vw;
    float: left;
}

.nome{
    padding: 15px;
    text-align: center;
    /* text-transform: uppercase; */
    font-size: 1.5em;

}

.foto img{
    border-radius: 50%;
    width: 70%;
}

.icons img{
    padding-left: 10px;
    width: 3vw;
}

#servicos{
    text-align: center;
    height: 80vh;
}

#servicos h1{
    padding: 20px;
}

.texto_direita{
    width: 50vw;
    float: right;
    padding-right: 60px;
    padding-top: 20px;
    text-align: justify;
}

#beneficios{
    background-color: rgba(0, 0, 255, 0.452);
    height: 80vh;
}

#beneficios h1{
    text-align: center;
    padding-top: 20px;
    color: white;
}

#beneficios p{
    width: 35vw;
    color: white;
    /* backround-color: red; */
    padding: 70px 0 0 150px;
    text-align: justify;
    float: left;
}

#beneficios img{
    width: 80px;
    padding-top: 89px;
    padding-left: 70px;
}

#contato{
    /* text-align: center; */
    height: 130vh;
    /* background-color: thistle; */
}

#contato h1{
    padding: 40px;
    text-align: center;
}

#contato p{
    text-align: center;
}

/* telefone, email e suporte */

.telefone{
    background-color: rgba(128, 128, 128, 0.356);
    margin: 50px;
    width: 40vw;
    height: 70vh;
    border-radius: 30px;
    box-shadow: 7px 7px rgba(0, 0, 255, 0.575);
    float: left;
}

.telefone img{
    width: 100px;
    padding-top: 30px;
}

.box_imagens{
    /* background-color: red; */
    width: 8vw;
    float: left;
    padding: 0  0 0 5vw;
}

.numero{
    /* background-color: black; */
    padding: 6vh 5vw;
    position: relative;
    top: 12vh;
    /* color: white; */
    border-radius: 30px;

}

/* fim telefone, email e suporte */

.mensagem{
    background-color: rgba(128, 128, 128, 0.356);
    margin: 50px;
    width: 40vw;
    height: 90vh;
    border-radius: 30px;
    box-shadow: 7px 7px rgba(0, 0, 255, 0.575);
    float: left;

}

.fomulario{
    /* background-color: red; */
    padding: 30px 0 0 70px;
    width: 70%;
}

.fomulario h2{
    text-align: center;
    padding-bottom: 30px;
}

.input_box{
    position: relative;
}

.input_user{
    background: none;
    border: none;
    border-bottom: 1.5px solid black;
    outline: none;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.label_input{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5px;
}

.input_mensagem{
    background: none;
    border: 1.5px solid black;
    outline: none;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.input_user:focus ~ .label_input,
.input_user:valid ~ .label_input{
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}


#submit{
    background-image: linear-gradient(to right, rgb(0,92,197), rgb(90,20,220));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

#submit:hover{
    background-image: linear-gradient(to right, rgb(0,80,192), rgb(80,19,195));
}



footer{
    background-color: black;
    color: white;
    height: 10vh;
    text-align: center;
}

footer p{
    padding-top: 5vh;
}

@media only screen and (max-width: 1200px){

    body{
        background-color: pink;
    }

    nav{
        height: 7vh;        
    }

    nav img{
        width: 7vw;
        margin-left: 3vw;
    }

    #sobre{
        height: 30vh;
    }

    .equipe{
        background-color: rgba(0, 0, 255, 0.397);
        height: 90vh;
    }

    .integrante{
        padding: 10vh 0 0 3vh;
        width: 25vw;
        height: 30vh;
    }

    .integrante_2{
        padding: 10vh 0 0 3vh;
        width: 25vw;
        height: 30vh;
     }

    #servicos{
        text-align: center;
        height: 60vh;
    }

    #beneficios{
       height: 60vh;
    }

    #beneficios p{
        padding: 7vh 0 0 10vw;
    }

    .telefone{
        height: 50vh;
    }

    .mensagem{
        height: 50vh;    
    }

    #contato{
        height: 80vh;
    }

    #contato p{
        width: 60%;
        margin-left: 20%;
    }

}

@media only screen and (max-width: 992px){

    body{
        background-color: green;
    }

    nav img{
        width: 8vw;
    }

    nav{
        height: 6vh;       
    }

    #sobre{
        height: 30vh;
        text-align: center;
    }

    .integrante{
        padding: 10vh 0 0 2vh;
        height: 35vh;
    }

    .integrante_2{
        padding: 0vh 0 0 2vh;
        height: 35vh;
    }

    .equipe{
        height: 90vh;
    }

    #servicos{
        height: 60vh;
    }

    #beneficios{
        height: 60vh;
    }

    #beneficios p{
        padding: 7vh 0 0 10vw;
    }

    #contato{
        height: 80vh;
    }  

    #contato p{
        width: 60%;
        margin-left: 20%;
    }

    .telefone{
        margin-left: 6vw;
        width: 40vw;
        height: 50vh;
    }

    .mensagem{
        width: 40vw;
        height: 50vh; 
        margin: 5vh 2vw;   
    }
}

@media only screen and (max-width: 768px){

    .login{
        padding: 1vw;
    }

    .sobre_nos p{
        width: 70%;
        padding-left: 15%;
        text-align: justify;
    }

    #servicos{
        height: 70vh;
    }

    #beneficios p{
        padding: 5vh 0 0 10vw;
    }

    #contato{
        height: 150vh;
    }
    
    #contato p{
        width: 60%;
        margin-left: 20%;
    }

    .telefone{
        background-color: rgba(128, 128, 128, 0.356);
        margin-left: 25%;
        width: 50vw;
        height: 50vh;

    }

    .mensagem{
        margin-left: 15%;
        width: 70vw;
        height: 50vh;
    
    }

}

@media only screen and (max-width: 600px){

    body{
        background-color: red;
    }

    .equipe{
        height: 80vh;
    }

    #servicos{
        height: 90vh;
    }

    .texto_direita{
        width: 80vw;
        padding-top: 20px;
        text-align: justify;
    }

    #beneficios{
        height: 80vh;
    }

    #beneficios p{
        width: 80vw;
        color: white;
    }

    .telefone{
        margin-left: 10%;
        width: 80vw;
        height: 50vh;
    }

    .mensagem{
        margin-left: 10%;
        width: 80vw;
        height: 50vh;
            
    }

}