*{
    font-family: 'Noto Sans JP', sans-serif;
    margin: auto;

}

.container_grafico{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
}

.quadros{
    /* background-color: rgb(192, 192, 192); */
    width: 80%;
    height: 45vh;
    margin: 10px 0 0 5px;
}


.desempenho{
    margin-top: 0%;
    width: 45%;
    
}

.componentes{
    /* background: rgba(196, 196, 196, 0.5);
    width: 40%;
    padding-bottom: 9%;
    float: left;
    margin: 15px;
    margin: 15px;
    border-radius: 20px;
    box-shadow: 15px 17px 4px rgba(10, 61, 98, 0.75);
    text-align: center; */
    border-radius: 20px;
    box-shadow: 15px 17px 4px rgba(10, 61, 98, 0.75);
    text-align: center;
    width: 35%;
    border-radius: 20px;
    aspect-ratio: 1/1;
    background: rgba(196, 196, 196, 0.5);
    float: left;
    margin: 15px;
    height: 40%;
    
}

.componentes p{
    font-weight: bold;
    font-size: 29px;
    line-height: 42px;
    margin-top: 30%;

}

a{
    color: black;
}

.kit{
    background: #c4c4c4;
    box-shadow: 15px 17px 4px rgba(10, 61, 98, 0.75);
    border-radius: 15px;
    width: 50%;
    padding-bottom: 3%;
    float: left;
    margin: 0 0 0 20px;
}

.kit button{
    width: 45%;
    height: 5vh;
    margin: 45px 0 0 20px;   
    border-radius: 10px;
    background: #0a3d62;
    color: white;
    line-height: 29px;
    font-size: 20px;
    font-weight: bold; 
    font-style: normal;
    
}

.grafico{
    background-color: red;
    width: 40%;
    padding-bottom: 9%;
    /* margin: 0 20px 0 0; */
    
}

.meu-grafico{
    width: 10%;
    /* margin: auto; */
}

@media only screen and (max-width: 1280px){
    
    .kit button{
        font-size: 12px;
        margin: 40px 0 0 15px;   

    }

    .kit{
        box-shadow: 15px 9px 4px rgba(10, 61, 98, 0.75);
        width: 50%;
        padding-bottom: 1%;
        float: left;
        margin: 0 0 0 20px;
    }

    .componentes{
        width: 40%;
    }

    .componentes p{
        font-weight: bold;
        font-size: 20px;
        line-height: 42px;
        margin-top: 25%;
    
    }
}

@media only screen and (max-width: 1030px){
    
    .componentes{
        width: 30%;
    }

    .quadros{
        width: 90%;
        height: 45vh;
        margin: 10px 0 0 0px;
    }
    

    .desempenho{
        margin-top: 0%;
        width: 60%;
        
    }

    .kit button{
        font-size: 12px;
        margin: 40px 0 0 15px;   

    }
}