.table-totens{
    /* background: rgba(196, 196, 196, 0.18); */
    /* border-radius: 20px; */
    margin: 1% auto 5%;
}

.table-totens table{
    width: 70%;
    text-align: center;
    margin: 2% auto 2%;
}

.table-totens td {
    background-color: #eee;
    height: 40px;
}

.table-totens th {
    background: rgba(196, 196, 196, 0.18);
    color: black;
}

.ferramenta{
    font-size: 24px;
    margin: 4%;
    padding: 5%;
    border-radius: 5px;
    color: white;
    background-color: #0A3D62;
}

.alerta{
    color: #FFC312;
}

.emergencia{
    color: #EA2027;
}

.bom{
    color: #009432;
}



