*{
    font-family: 'Noto Sans JP', sans-serif;
    margin: auto;

}

body, html{
    scroll-behavior: smooth;
    margin: 0%;
    padding: 0%;
}

::-webkit-scrollbar{
    width: 5px;

    background-color: #ffffff00;
}


::-webkit-scrollbar-thumb{
    background-color: #0A3D62;
}


.container_menu{
    width: 80%;
    margin: auto;
}

.font_logo{
    font-weight: 900;
    font-size: 40px;
    color: #0A3D62;
    text-decoration: none;
}

nav{
    background-color: white;
    height: 10vh;
    transition: all .5s;
    top: 0;
    
}

ul{
    padding: 20px;
    list-style: none;
    float: right;

}

nav li {
    margin-left: 15px;
    margin-right: 10px;
    text-transform: uppercase;
    float: left;

}

nav img{
    width: 5vw;
    height: 100%;
    margin: 0%;
}

a{
    text-decoration: none;
    color: #0A3D62;
    font-weight: 500;
}

a:hover{
    color: #3C6382;
}

.login{
    border-radius: 10px;
    background-color: #0A3D62;
    padding: 1vw;
    font-weight: 700;
    color: white;
    width: 100%;
}

.titulo-home{
    font-size: 32px;
    width: 25vw;
    float: left;
    margin-top: 90px;
}

.legenda-home{
    margin-top: 30px;
    font-size: 16px;
    width: 35vw;
    margin-bottom: 10%;
}

.primeira-img{
    width: 50%;
    margin-top: 3%;
    float: right;
    margin-bottom: 4%;
}

.container_somos{
    width: 80%;
    margin: auto;
    align-items: center;
}

#sobre{
    padding-bottom: 3%;
    text-align: center;
    display: inline-block;
    width: 100%;
    color: white;
    background-color: #3C6382;
}

.sobre_nos h1{
    padding: 20px 0 20px 0;
}

.sobre_nos p{
    text-align: justify;
}

.container_equipe{
    width: 80%;
    margin: auto;

}

.equipe{
    padding-bottom: 5%;
    margin: auto;
    display: inline-block;
    width: 100%;
    background: rgba(196, 196, 196, 0.7);
}

.equipe h1{
    text-align: center;
    padding-top: 25px;
}

.integrante{
    padding: 10vh 0 0 0;
    width: 16%;
    text-align: center;
    display: inline-block;
}

.centralizar-grupo{
    width: 100%;
    margin: auto;
}

.integrante_2{
    padding: 8vh 15vh 0 25vh;
    width: 25%;
    text-align: center;
    display:block;
    float: left;
}

.nome{
    padding: 15px;
    text-align: center;
    font-size: 1em;

}

.foto img{
    border-radius: 50%;
    width: 60%;
    padding: 3%;
    background-color: #3C6382;
}

.icons img{
    padding-left: 10px;
    width: 2vw;
}

.icons i{
    font-size: 30px;
    margin-right: 4%;
}

.fa-github{
    color: black;
}

.containe_servicos{
    width: 80%;
    margin: auto;

}

#servicos{
    background-color: white;
    text-align: center;
    padding-bottom: 1%;
    margin: auto;
    display: inline-block;
    width: 100%;
}

#servicos h1{
    padding-top: 30px;
}

#servicos img{
    width: 32%;
}

.texto_direita{
    width: 40vw;
    float: right;
    padding-top: 30px;
    text-align: justify;
    vertical-align: center;
    display: flex;
}

.container_beneficios{
    width: 80%;
    margin: auto;
}

#beneficios{
    padding-bottom: 3%;
    margin: auto;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #3C6382;
}

#beneficios h1{
    text-align: center;
    padding: 2.5% 0 4% 0;
}

.class_beneficio{
    padding: 20px 0 23px 0;
    text-align: justify;
}

#beneficios img{
    width: 18%;
    margin-right: 2%;
    vertical-align: middle;
}

.monitores{
    float: left;
}

.container_contato{
    width: 85%;
    margin: auto;
}

#contato{
    margin: auto;
    display: inline-block;
    width: 100%;
    background-color: #0A3D62;
    padding-bottom: 3%;
}

.container_tele{
    margin: 5% auto;
    width: 50%;
    float: left;
}

.telefone{
    background-color: rgba(128, 128, 128, 0.356);
    width: 31vw;
    height: 55vh;
    border-radius: 15px;
    box-shadow: 15px 17px 4px rgba(10, 61, 98, 0.9);
}

.teste{
    margin: 13px auto;
    float: left;
    width: 100%;
}

.infos{
    background: rgba(0, 0, 0, 0.75);
    color: white;
    width: 80%;
    height: 12vh;
    margin: 25px auto;
    border-radius: 15px;
}

.infos img{
    height: 70%;
    margin: 10px 15px 10px 30px;
    vertical-align: middle;
}

.container_mensa{
    float: right;
    margin: 5% auto;
    width: 50%;
}

.mensagem{
    background-color: rgba(128, 128, 128, 0.356);
    width: 33vw;
    height: 115vh;
    border-radius: 15px;
    box-shadow: 15px 17px 4px rgba(10, 61, 98, 0.9);

    margin: auto;
}

.fomulario{
    padding:40px 0 0 0px;
    width: 80%;
}

.fomulario h2{
    text-align: center;
    padding-bottom: 30px;
}

.input_box{
    position: relative;
    margin-bottom: 10%;
}

.input_user{
    background: none;
    border: none;
    border-bottom: 1.5px solid black;
    outline: none;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.label_input{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5px;
    font-size: 16px;
}

.input_mensagem{
    background: rgba(128, 128, 128, 0.103);
    border: 0px solid black;
    outline: none;
    font-size: 15px;
    width: 100%;
    height: 100px;
    letter-spacing: 2px;
    resize: none;
}

.input_user:focus ~ .label_input,
.input_user:valid ~ .label_input{
    top: -20px;
    font-size: 12px;
    color: #0A3D62;
    font-weight: 700;
}

.input_user:valid{
    border-bottom: 2px inset rgb(0, 172, 0);
}

.input_user:invalid{
    border-bottom: 2px inset #165c8f;
}


#submit{
    background: #165c8f;
    width: 100%;
    border: none;
    padding: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 10%;
}

#submit:hover{
    background-color: black;
    transition: 3s;
}

.input-mensg{
    width: 100%;
    height: 30px;
    border-radius: 7px;
    border-color: rgba(128, 128, 128, 0.356);
}

.container-contato{
    
    width: 80%;
    /* height: 80%; */
    margin-top: 2%;
    border-radius: 20px;
    display: flex;
    justify-content: space-around; 
}

.form-contato{
    margin-top: 2%;
    font-size: 16px;
    background-color: rgb(197, 197, 197);
    width: 40%;
    height: 90%;
    border-radius: 20px;
    box-shadow: 15px 17px 4px rgba(10, 61, 98, 0.9);

    
}

.list-contato{
    /* background-color: red; */
    width: 40%;
    height: 80%;
    /* margin: 0%; */
    color: white;

}

.list-contato h1{
    float: left;
}

.list-contato p{
    width: 80%;
    padding: 15px 0 50px 0;
    float: left;
    color: rgba(255, 255, 255, 0.623);
}

.box-icons{
    height: 10vh;
    width: 70%;
    float: left;
    color: rgba(255, 255, 255, 0.623);
    padding-bottom: 10px;

}

.box-icons img{
    width: 15%;
    padding-right: 10px;
}


footer{
    margin: 0.7% 0 0.7% 0;
    text-align: center;
}

.icons-contato{
    font-size: 30px;
    padding-right: 10px;
}

.box-icons table{
    padding: 0%;
    margin: 0%;
}


/* Responsividade @media */

@media screen and (min-width: 300px) and (max-width: 500px){

    .container_menu{
        width: 80%;
        margin: auto;
    }
    
    .font_logo{
        font-weight: 900;
        font-size: 27px;
        color: #0A3D62;
        text-decoration: none;
    }

    .none{
        display: none;
    }
    
    nav{
        background-color: white;
        height: 10vh;
        transition: all .5s;
        text-align: center;
    }
    
    ul{
        padding: 0;
        float: none;
    }
    
    nav li {
        float: none;
        text-align: center;
        padding-top: 6%;
    }
    
    a{
        text-decoration: none;
        color: #0A3D62;
        font-weight: 500;
    }
    
    a:hover{
        color: #3C6382;
    }
    
    .login{
        border-radius: 10px;
        background-color: #0A3D62;
        padding: 4%;
        font-weight: 700;
        color: white;
    }
    
    .titulo-home{
        font-size: 32px;
        width: 100%;
        float: none;
        margin-top: 90px;
        text-align: center;
    }
    .titulo-home h1{
        padding: 0 auto 4%;
        font-size: 20px;
    }

    .primeira-img{
        width: 50%;
        margin-top: 3%;
        float: none;
        margin-bottom: 4%;
        display: none;
    }
    
    .container_somos{
        width: 80%;
        margin: auto;
        align-items: center;
    }
    
    #sobre{
        padding-bottom: 3%;
        text-align: center;
        display: inline-block;
        width: 100%;
        color: white;
        background-color: #3C6382;
    }
    
    .sobre_nos h1{
        padding: 20px 0 20px 0;
    }
    
    .sobre_nos p{
        text-align: justify;
    }
    
    .container_equipe{
        width: 80%;
        margin: auto;
    
    }
    
    .equipe{
        padding-bottom: 5%;
        margin: auto;
        display: inline-block;
        width: 100%;
        background: rgba(196, 196, 196, 0.7);
    }
    
    .equipe h1{
        text-align: center;
        padding-top: 25px;
    }
    
    .integrante{
        padding: 1vh 0 2vh 0;
        width: 70%;
        text-align: center;
        display: block;
        margin: auto;
    }
    
    .centralizar-grupo{
        width: 100%;
        margin: auto;
    }
    
    /* .integrante_2{
        padding: 8vh 15vh 0 25vh;
        width: 25%;
        text-align: center;
        display:block;
        float: left;
    } */
    
    .nome{
        padding: 15px 0 5px 0;
        text-align: center;
        font-size: 1em;
    
    }
    
    .foto img{
        border-radius: 50%;
        width: 60%;
        padding: 3%;
        background-color: #3C6382;
    }
    
    .icons img{
        padding-left: 10px;
        width: 5vw;
    }
    
    .icons i{
        font-size: 30px;
        margin-right: 4%;
    }
    
    .fa-github{
        color: black;
    }
    
    .containe_servicos{
        width: 80%;
        margin: auto;
    
    }
    
    #servicos{
        background-color: white;
        text-align: center;
        padding-bottom: 1%;
        margin: auto;
        display: inline-block;
        width: 100%;
    }
    
    #servicos h1{
        padding-top: 30px;
    }
    
    #servicos img{
        width: 72%;
        display: block;
        margin: auto;
    }
    
    .texto_direita{
        width: 100%;
        text-align: center;
        float: none;
        padding-top: 30px;
        text-align: justify;
        /* vertical-align: center; */
        display: block;
    }
    
    .container_beneficios{
        width: 80%;
        margin: auto;
    }

    .container_beneficios table tr td{
        display: block;
    }
    
    #beneficios{
        padding-bottom: 3%;
        margin: auto;
        display: inline-block;
        width: 100%;
        text-align: center;
        color: white;
        background-color: #3C6382;
    }
    
    #beneficios h1{
        text-align: center;
        padding: 2.5% 0 4% 0;
    }
    
    .class_beneficio{
        padding: 20px 0 23px 0;
        text-align: justify;
    }
    
    #beneficios img{
        width: 18%;
        margin-right: 2%;
        vertical-align: middle;
    }
    
    /* .monitores{
        float: left;
    } */
    
    .container_contato{
        width: 85%;
        margin: auto;
    }
    
    #contato{
        margin: auto;
        display: inline-block;
        width: 100%;
        background-color: #0A3D62;
        padding-bottom: 3%;
    }
    
    .container_tele{
        margin: 5% auto;
        width: 50%;
        float: left;
    }
    
    .telefone{
        background-color: rgba(128, 128, 128, 0.356);
        width: 31vw;
        height: 55vh;
        border-radius: 15px;
        box-shadow: 15px 17px 4px rgba(10, 61, 98, 0.9);
    }
    
    .teste{
        margin: 13px auto;
        float: left;
        width: 100%;
    }
    
    .infos{
        background: rgba(0, 0, 0, 0.75);
        color: white;
        width: 80%;
        height: 12vh;
        margin: 25px auto;
        border-radius: 15px;
    }
    
    .infos img{
        height: 70%;
        margin: 10px 15px 10px 30px;
        vertical-align: middle;
    }
    
    .container_mensa{
        float: right;
        margin: 5% auto;
        width: 50%;
    }
    
    .mensagem{
        background-color: rgba(128, 128, 128, 0.356);
        width: 33vw;
        height: 115vh;
        border-radius: 15px;
        box-shadow: 15px 17px 4px rgba(10, 61, 98, 0.9);
    
        margin: auto;
    }
    
    .fomulario{
        padding:40px 0 0 0px;
        width: 80%;
    }
    
    .fomulario h2{
        text-align: center;
        padding-bottom: 30px;
    }
    
    .input_box{
        position: relative;
        margin-bottom: 10%;
    }
    
    .input_user{
        background: none;
        border: none;
        border-bottom: 1.5px solid black;
        outline: none;
        font-size: 15px;
        width: 100%;
        letter-spacing: 2px;
    }
    
    .label_input{
        position: absolute;
        top: 0px;
        left: 0px;
        pointer-events: none;
        transition: .5px;
        font-size: 16px;
    }
    
    .input_mensagem{
        background: rgba(128, 128, 128, 0.103);
        border: 0px solid black;
        outline: none;
        font-size: 15px;
        width: 100%;
        height: 100px;
        letter-spacing: 2px;
        resize: none;
    }
    
    .input_user:focus ~ .label_input,
    .input_user:valid ~ .label_input{
        top: -20px;
        font-size: 12px;
        color: #0A3D62;
        font-weight: 700;
    }
    
    .input_user:valid{
        border-bottom: 2px inset rgb(0, 172, 0);
    }
    
    .input_user:invalid{
        border-bottom: 2px inset #165c8f;
    }
    
    
    #submit{
        background: #165c8f;
        width: 100%;
        border: none;
        padding: 10px;
        color: white;
        font-size: 15px;
        cursor: pointer;
        border-radius: 10px;
        margin-bottom: 10%;
    }
    
    #submit:hover{
        background-color: black;
        transition: 3s;
    }
    
    .input-mensg{
        width: 100%;
        height: 30px;
        border-radius: 7px;
        border-color: rgba(128, 128, 128, 0.356);
    }
    
    .container-contato{
        
        width: 80%;
        /* height: 80%; */
        margin-top: 2%;
        border-radius: 20px;
        display: flex;
        justify-content: space-around; 
    }
    
    .form-contato{
        margin-top: 2%;
        font-size: 16px;
        background-color: rgb(197, 197, 197);
        width: 40%;
        height: 90%;
        border-radius: 20px;
        box-shadow: 15px 17px 4px rgba(10, 61, 98, 0.9);
    
        
    }
    
    .list-contato{
        /* background-color: red; */
        width: 40%;
        height: 80%;
        /* margin: 0%; */
        color: white;
    
    }
    
    .list-contato h1{
        float: left;
    }
    
    .list-contato p{
        width: 80%;
        padding: 15px 0 50px 0;
        float: left;
        color: rgba(255, 255, 255, 0.623);
    }
    
    .box-icons{
        height: 10vh;
        width: 70%;
        float: left;
        color: rgba(255, 255, 255, 0.623);
        padding-bottom: 10px;
    
    }
    
    .box-icons img{
        width: 15%;
        padding-right: 10px;
    }
    
    
    footer{
        margin: 0.7% 0 0.7% 0;
        text-align: center;
    }
    
    .icons-contato{
        font-size: 30px;
        padding-right: 10px;
    }
    
    .box-icons table{
        padding: 0%;
        margin: 0%;
    }

}

/* @media screen and (min-width: 501px) and (max-width: 599px){
    
}

@media screen and (min-width: 600px) and (max-width: 799px){

}

@media screen and (min-width: 800px) and (max-width: 1024px){
    
}

@media screen and (min-width: 1025px) and (max-width: 1279px){


}

@media screen and (min-width: 1280px) and (max-width: 1366px){


}

@media screen and (min-width: 1367px){  

   
}  */

