body {
    margin: 0%;
    padding: 0%;
    font-family: 'Noto Sans JP', sans-serif;
}

.container{
    width: 80%;
    margin: auto;
}

nav{
    height: 10vh;
    transition: all .5s;
    
}

ul{
    padding: 0.6%;
    list-style: none;
    float: right;

}

nav li {
    margin-left: 15px;
    margin-right: 10px;
    text-transform: uppercase;
    float: left;

}

.font_logo{
    font-weight: 900;
    font-size: 40px;
    margin-top: 20%;
    color: #0A3D62;
    text-decoration: none;
}

.menu a{
    text-decoration: none;
    color: #0A3D62;
    font-weight: 500;

}

a:hover{
    color: #3C6382;
}

li .menu_adm{
    border-radius: 10px;
    background-color: #60A3BC;
    padding: 1vw;
    font-weight: 700;
    color: white;
}

li .login{
    border-radius: 10px;
    background-color: #0A3D62;
    padding: 1vw;
    font-weight: 700;
    color: white;
}

.login:hover{
    color: #3C6382;
}

.login:before{
    background-color: #0A3D62;
}

.container_complementar{
    width: 100%;
    margin: auto;
}

.frase_negrito{
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    display: block;
    width: 100%;
    padding-bottom: 4%;
    padding-top: 5%;
}

.quadro_cinza{
    width: 43%;
    padding-bottom: 4%;
    margin: auto auto 7% auto;
    background-color: #C4C4C4;
    box-shadow: 15px 17px 4px rgb(10 61 98 / 80%);
    border-radius: 10px;
    text-align: center;
}

.div_negrito{
    padding-top: 10%;
    text-align: center;
}

.cad_usuario {
    font-weight: 700;
    font-size: 19.5px;
    color: #ffffff;
}

.p_dados{
    text-align: center;
    padding-top: 8%;
    margin: 0;
}

.div_centralizando{
    width: 90%;
    margin: 5% auto;
    text-align: center;
}

.label_negrito{
    font-weight: 500;
    padding-left: 2%;
}


.input_box{
    position: relative;
}

.input_user{
    background: none;
    border: none;
    border-bottom: 3px solid #3c6382;
    outline: none;
    font-size: 15px;
    width: 90%;
    letter-spacing: 2px;
    margin-bottom: 7%;
    margin-top: 4%;
}

.label_input{
    position: absolute;
    top: 0px;
    left: 25.5px;
    pointer-events: none;
    transition: .5px;
    margin-top: 2%;
}


.input_user:focus ~ .label_input,
.input_user:valid ~ .label_input{
    top: -20px;
    font-size: 12px;
    font-weight: bold;
    color: #0A3D62;
}




#submit{
    background: #0A3D62;
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

#submit:hover{
    /* background-image: linear-gradient(to right, rgb(0,80,192), rgb(80,19,195)); */
    background-color: black;
    transition: 3s;
}


input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

.input_button{
    font-family: 'Noto Sans JP', sans-serif;
    color: #ffffff;
    font-weight: 700;
    background-color: #3c6382;
    border: none;
    height: 30px;
    width: 40%;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background-color: #000000;
    transition: 2s;
}

#invisivel_etapa1{
    display: block;
}

#invisivel_etapa2{
    display: none;
}


@media screen and (min-width: 300px) and (max-width: 410px){
    /*Celular Smartphone*/

    .font_logo{
        font-size: 29px;
       
    }

    .menu_invisivel{
        display: none;
    }

    .menu_adm{
        display: none;
    }

    nav{
        text-align: center;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    nav li {
        margin-left: 0px;
        margin-right: 0px;
        float: none;
        margin: 3% auto 3% auto;
    }

    ul{
        margin-top: 3.8%;
        float: none;
    }

    li .login{
        padding: 5px 10px 5px 10px;
        font-size: 13px;
    }
    
    .frase_negrito{
        font-size: 18px;
        margin: 15% auto 4% auto;
    }
    
    .quadro_cinza{
        width: 82%;
        padding-bottom: 5%;
        margin:  auto auto 12%;
    }

    .div_negrito{
        padding-top: 7%;
        text-align: center;
    }

    .cad_usuario {
        font-size: 15px;
    }

    .p_dados{
        text-align: center;
        padding-top: 8%;
        padding-bottom: 6%;
        font-size: 14px;
    }
    
    .input_login{
        width: 79%;
    }

    .input_box{
        position: relative;
    }
    
    .input_user{
        background: none;
        border: none;
        border-bottom: 3px solid #3c6382;
        outline: none;
        font-size: 15px;
        width: 90%;
        letter-spacing: 2px;
        margin-bottom: 13%;
        margin-top: 7%;
    }
    
    .label_input{
        position: absolute;
        top: 0px;
        left: 10px;
        pointer-events: none;
        transition: .5px;
        margin-top: 6%;
        font-size: 14.5px;
    }

    .input_button{
        width: 80%;
        margin-top: 3%;
    }
    
    .input_user:focus ~ .label_input,
    .input_user:valid ~ .label_input{
        top: -20px;
        font-size: 12px;
        font-weight: bold;
        color: #0A3D62;
        padding-top: 2%;
    }

    input::placeholder{
        color: #ffffff;
        text-align: center;
        font-size: 11.5px;
    }

}

@media screen and (min-width: 410px) and (max-width: 640px){
    /*Celular Smartphone*/

    nav {
        text-align: left;
    }

    .font_logo{
        font-size: 32px;
    }

    nav li {
        margin-left: 0px;
        margin-right: 0px;
    }

    li .login{
        padding: 5px 10px 5px 10px;
        font-size: 14px;
    }

    .menu_invisivel{
        display: none;
    }

    .frase_negrito{
        font-size: 18px;
        padding-top: 5%;
        padding-bottom: 4%;
        margin: 0;
    }

    .p_dados{
        text-align: center;
        padding-top: 8%;
        font-size: 14.5px;
    }

    .quadro_cinza{
        width: 76%;
        padding-bottom: 4%;
        margin:  auto auto 10%;
    }

    .div_negrito{
        padding-top: 7%;
        text-align: center;
    }

    .cad_usuario {
        font-size: 16px;
    }

    .input_login{
        width: 80%;
    }

    .input_user{
        background: none;
        border: none;
        border-bottom: 3px solid #3c6382;
        outline: none;
        font-size: 15px;
        width: 90%;
        letter-spacing: 2px;
        margin-bottom: 5.5%;
        margin-top: 3.5%;
    }
    
    .label_input{
        margin-top: 2%;
        font-size: 14.5px;
        top: -3px;
        left: 17px;
    }
    
    .input_button{
        width: 70%;
        margin-top: 3%;
    }

    .input_user:focus ~ .label_input,
    .input_user:valid ~ .label_input{
        top: -20px;
        font-size: 12px;
        font-weight: bold;
        color: #0A3D62;
        padding-top: 2%;
    }

    input::placeholder{
        color: #ffffff;
        text-align: center;
        font-size: 12px;
    }
    
}

@media screen and (min-width: 641px) and (max-width: 770px){
    /* Celular/tablet */

    .menu_invisivel{
        display: none;
    }

    li .login{
        margin-left: 170%;
    }

    li .menu_adm{
        margin-left: 25%;
    }

    .font_logo{
        font-size: 32px;
    }

    .frase_negrito{
        font-size: 18px;
        padding-top: 5%;
        padding-bottom: 4%;
    }

    .p_dados{
        text-align: center;
        padding-top: 8%;
        font-size: 14.5px;
    }

    .div_negrito{
        padding-top: 8.5%;
        text-align: center;
        font-weight: 700;
        font-size: 17.5px;
    }

.quadro_cinza{
    width: 76%;
    /* height: 146vh; */
    padding-bottom: 4%;
    margin-bottom: 10%;
}

.input_user{
    background: none;
    border: none;
    border-bottom: 3px solid #3c6382;
    outline: none;
    font-size: 15px;
    width: 90%;
    letter-spacing: 2px;
    margin-bottom: 5.5%;
    margin-top: 3.5%;
}

.label_input{
    margin-top: 2%;
    font-size: 14.5px;
    top: -3px;
    left: 17px;
}

}

@media screen and (min-width: 770px) and (max-width: 900px){
    /* Celular/tablet */

    .menu_invisivel{
        display: none;
    }

    li .login{
        margin-left: 170%;
    }

    li .menu_adm{
        margin-left: 25%;
    }

    .font_logo{
        font-size: 32px;
    }

    .frase_negrito{
        font-size: 18px;
        padding-top: 5%;
        padding-bottom: 4%;
    }

    .p_dados{
        text-align: center;
        padding-top: 8%;
        font-size: 15px;
    }

    .div_negrito{
        padding-top: 8.5%;
        text-align: center;
        font-weight: 700;
        font-size: 17.5px;
    }

.quadro_cinza{
    width: 67%;
    padding-bottom: 4%;
    margin-bottom: 10%;
}

.input_user{
    background: none;
    border: none;
    border-bottom: 3px solid #3c6382;
    outline: none;
    font-size: 15px;
    width: 90%;
    letter-spacing: 2px;
    margin-bottom: 5.5%;
    margin-top: 3.5%;
}

.label_input{
    margin-top: 2%;
    font-size: 14.5px;
    top: -3px;
    left: 24px;
}



}

@media screen and (min-width: 900px) and (max-width: 1090px){
    /* tablets */
    .menu_invisivel{
        display: none;
    }

    li .login{
        margin-left: 170%;
    }

    li .menu_adm{
        margin-left: 25%;
    }

    .font_logo{
        font-size: 32px;
    }

    .frase_negrito{
        font-size: 18px;
        padding-top: 5%;
        padding-bottom: 4%;
    }
    
    .quadro_cinza{
        width: 60%;
        padding-bottom: 4%;
        margin-bottom: 10%;
    }

    .input_user{
        background: none;
        border: none;
        border-bottom: 3px solid #3c6382;
        outline: none;
        font-size: 15px;
        width: 90%;
        letter-spacing: 2px;
        margin-bottom: 5.5%;
        margin-top: 3.5%;
    }
    
    .label_input{
        margin-top: 2%;
        font-size: 14.5px;
        top: -3px;
        left: 24px;
    }
    
}

@media screen and (min-width: 1091px) and (max-width: 1280px){
    /* Desktop */

    nav li {
        margin-left: 5px;
        margin-right: 5px;
        text-transform: uppercase;
        font-weight: 500;
        float: left;
    }

    li .login{
        padding: 1vw;
    }

    .frase_negrito{
        font-size: 18px;
        padding-top: 5%;
        padding-bottom: 4%;
    }

    
    .quadro_cinza{
        width: 53%;
        padding-bottom: 4%;
        margin-bottom: 10%;
    }

    .input_user{
        margin-bottom: 5%;
        margin-top: 3%;
    }
    
    .label_input{
        margin-top: 2%;
        font-size: 14.5px;
        top: -3px;
        left: 24px;
    }
}


@media only screen and (min-width: 1280px) and (max-width: 1366px){
    /* Desktop extragrandes */
    
    .menu a{
        text-decoration: none;
        color: #0A3D62;
        font-weight: 500;
    
    }
    
    a:hover{
        color: #3C6382;
    }
    
    li .menu_adm{
        border-radius: 10px;
        background-color: #60A3BC;
        padding: 1vw;
        font-weight: 700;
        color: white;
    }
    
    .menu_adm:hover{
        color: #3C6382;
    }
    
    .menu_adm:before{
        background-color: #60A3BC;
    }
    
    li .login{
        border-radius: 10px;
        background-color: #0A3D62;
        padding: 1vw;
        font-weight: 700;
        color: white;
    }
    
    .login:hover{
        color: #3C6382;
    }
    
    .login:before{
        background-color: #0A3D62;
    }
    
    .container_complementar{
        width: 100%;
        margin: auto;
    }
    
    .frase_negrito{
        font-weight: 700;
        font-size: 18px;
        padding-top: 5%;
        padding-bottom: 4%;
    }
    
    .img_login{
        width: 70%;
    }
    
    .quadro_cinza{
        width: 43%;
        padding-bottom: 4%;
        margin-bottom: 10%;
    }
    
    form{
        text-align: center;
    }

    .p_dados{
        text-align: center;
        padding-top: 8%;
    }
    
    .input_box{
        position: relative;
    }
    
    .label_input{
        left: 30px;
    }
 
    .label_negrito{
        font-weight: 500;
        padding-left: 2%;
    }

    .input_user{
        margin-bottom: 7%;
        margin-top: 4%;
    }
    
    .label_input{
        margin-top: 2%;
        font-size: 14.5px;
        top: -3px;
        left: 24px;
    }
    


}




